@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@300;400;500;600;700&display=swap");
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media only screen and (min-width: 425px) {
  .container {
    max-width: 400px;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 530px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 920px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1220px;
  }
}

@media only screen and (min-width: 1800px) {
  .container {
    max-width: 1550px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1650px;
  }
}

body {
  background-color: #fff2ea;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Alexandria", sans-serif;
  box-sizing: border-box;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}
@media only screen and (min-width: 425px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 576px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.btn {
  background-color: black;
  color: white;
  height: 40px;
  width: 150px;
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  .btn {
    height: 48px;
    width: 190px;
  }
}
@media only screen and (min-width: 1440px) {
  .btn {
    height: 53px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 1800px) {
  .btn {
    height: 60px;
    width: 220px;
    font-size: 22px;
  }
}
.btn a {
  color: white;
  font-size: 16px;
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  .btn a {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  .btn a {
    font-size: 20px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1800px) {
  .btn a {
    font-size: 22px;
  }
}

.common-p {
  font-size: 15px;
  color: #a09793;
}
@media only screen and (min-width: 992px) {
  .common-p {
    font-size: 17px;
  }
}

.c-content {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 45px 300px;
  grid-template-areas: "count empty" "pera head";
}
@media only screen and (min-width: 576px) {
  .c-content {
    grid-template-columns: 35% 65%;
    grid-template-rows: 45px 330px;
  }
}
@media only screen and (min-width: 992px) {
  .c-content {
    grid-template-columns: 25% 75%;
    grid-template-rows: 55px 340px;
  }
}
@media only screen and (min-width: 1440px) {
  .c-content {
    grid-template-rows: 55px 360px;
  }
}
.c-content .count {
  grid-area: count;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: center;
  background-image: linear-gradient(#ff6a5f, #ff6a5f);
  background-position: left top;
  background-size: 30% 100%;
  background-repeat: no-repeat;
}
.c-content .count p {
  font-weight: bold;
  margin-right: 20px;
  font-size: 16px;
}
@media only screen and (min-width: 992px) {
  .c-content .count p {
    margin-right: 30px;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  .c-content .count p {
    margin-right: 40px;
  }
}
.c-content .count p .gray {
  color: #a09793;
}
.c-content .empty {
  grid-area: empty;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.c-content .product-pera {
  grid-area: pera;
  border-right: 2px solid black;
  padding-top: 50px;
}
.c-content .product-pera p {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}
@media only screen and (min-width: 576px) {
  .c-content .product-pera p {
    display: flex;
    flex-flow: column wrap;
    text-align: end;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 1440px) {
  .c-content .product-pera p {
    margin-right: 50px;
  }
}
.c-content .product-head {
  grid-area: head;
  padding-top: 50px;
}
.c-content .product-head h1 {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  font-size: 35px;
  line-height: 34px;
}
@media only screen and (min-width: 576px) {
  .c-content .product-head h1 {
    text-align: start;
    margin-left: 30px;
    font-size: 45px;
    line-height: 40px;
  }
}
@media only screen and (min-width: 992px) {
  .c-content .product-head h1 {
    font-size: 55px;
    line-height: 50px;
  }
}
@media only screen and (min-width: 1440px) {
  .c-content .product-head h1 {
    font-size: 60px;
    line-height: 55px;
    margin-left: 50px;
  }
}

.main-wrap {
  height: initial;
}
@media only screen and (min-width: 576px) {
  .main-wrap {
    height: 100vh;
  }
}

header {
  border-bottom: 2px solid black;
}
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content .head-logo {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  border-right: 2px solid black;
}
@media only screen and (min-width: 576px) {
  header .content .head-logo {
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (min-width: 768px) {
  header .content .head-logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 992px) {
  header .content .head-logo {
    padding-right: 70px;
  }
}
@media only screen and (min-width: 1200px) {
  header .content .head-logo {
    padding-right: 90px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media only screen and (min-width: 1800px) {
  header .content .head-logo {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
header .content .head-logo h5 {
  font-size: 15px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  header .content .head-logo h5 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  header .content .head-logo h5 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1800px) {
  header .content .head-logo h5 {
    font-size: 25px;
  }
}
header .content .menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  header .content .menu {
    display: flex;
  }
}
header .content .menu ul, header .content .menu .contact-icon {
  display: flex;
}
header .content .menu ul {
  margin-right: 70px;
}
@media only screen and (min-width: 992px) {
  header .content .menu ul {
    margin-right: 180px;
  }
}
@media only screen and (min-width: 1200px) {
  header .content .menu ul {
    margin-right: 200px;
  }
}
@media only screen and (min-width: 1440px) {
  header .content .menu ul {
    margin-right: 250px;
  }
}
@media only screen and (min-width: 1800px) {
  header .content .menu ul {
    margin-right: 360px;
  }
}
header .content .menu ul li {
  padding-left: 15px;
  padding-right: 15px;
  border-right: 2px solid black;
}
@media only screen and (min-width: 992px) {
  header .content .menu ul li {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  header .content .menu ul li {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media only screen and (min-width: 1800px) {
  header .content .menu ul li {
    padding-left: 30px;
    padding-right: 30px;
  }
}
header .content .menu ul li a {
  color: black;
  font-weight: bold;
}
@media only screen and (min-width: 1440px) {
  header .content .menu ul li a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1800px) {
  header .content .menu ul li a {
    font-size: 20px;
  }
}
header .content .menu ul li:last-child {
  border-right: none;
}
header .content .menu .contact-icon {
  column-gap: 20px;
}
@media only screen and (min-width: 1200px) {
  header .content .menu .contact-icon {
    column-gap: 30px;
  }
}
header .content .menu .contact-icon .gmail, header .content .menu .contact-icon .phone {
  font-size: 16px;
}
@media only screen and (min-width: 1440px) {
  header .content .menu .contact-icon .gmail, header .content .menu .contact-icon .phone {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1800px) {
  header .content .menu .contact-icon .gmail, header .content .menu .contact-icon .phone {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  header .content .top-btn {
    display: none;
  }
}

main {
  height: 90%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
main .content {
  background-image: url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
main .content h1 {
  font-size: 28px;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
  line-height: 28px;
  margin-top: 70px;
}
@media only screen and (min-width: 576px) {
  main .content h1 {
    margin-top: 0px;
    font-size: 35px;
    line-height: 34px;
  }
}
@media only screen and (min-width: 992px) {
  main .content h1 {
    font-size: 45px;
    line-height: 42px;
  }
}
@media only screen and (min-width: 1200px) {
  main .content h1 {
    font-size: 55px;
    line-height: 52px;
  }
}
@media only screen and (min-width: 1440px) {
  main .content h1 {
    font-size: 65px;
    margin-bottom: 20px;
    line-height: 58px;
  }
}
@media only screen and (min-width: 1800px) {
  main .content h1 {
    margin-bottom: 25px;
    line-height: 62px;
  }
}
main .content h1 .orange-span {
  color: #ff6a5f;
}
main .content p {
  font-size: 15px;
  color: #a09793;
}
@media only screen and (min-width: 576px) {
  main .content p {
    display: flex;
    flex-flow: column wrap;
  }
}
@media only screen and (min-width: 992px) {
  main .content p {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1800px) {
  main .content p {
    font-size: 20px;
  }
}
main .content .btn {
  background-color: black;
  color: white;
  height: 40px;
  width: 150px;
  margin-top: 70px;
}
@media only screen and (min-width: 768px) {
  main .content .btn {
    font-size: 18px;
  }
}
@media only screen and (min-width: 992px) {
  main .content .btn {
    height: 48px;
    width: 190px;
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1440px) {
  main .content .btn {
    height: 53px;
    font-size: 20px;
    margin-top: 120px;
  }
}
@media only screen and (min-width: 1800px) {
  main .content .btn {
    height: 60px;
    width: 220px;
    font-size: 22px;
    margin-top: 130px;
  }
}
main .content .btn a {
  color: white;
  font-size: 16px;
  margin-right: 5px;
}
@media only screen and (min-width: 768px) {
  main .content .btn a {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1440px) {
  main .content .btn a {
    font-size: 20px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1800px) {
  main .content .btn a {
    font-size: 22px;
  }
}

#product {
  margin-top: 50px;
}
@media only screen and (min-width: 576px) {
  #product {
    margin-top: 0px;
  }
}
#product .constant {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto auto;
  grid-template-areas: "img" "content";
}
@media only screen and (min-width: 576px) {
  #product .constant {
    grid-template-columns: 480px;
    grid-template-rows: 270px auto;
  }
}
@media only screen and (min-width: 768px) {
  #product .constant {
    grid-template-columns: 45% 46%;
    grid-template-rows: 270px;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  #product .constant {
    grid-template-columns: 45% 48%;
    grid-template-rows: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  #product .constant {
    grid-template-columns: 45% 48%;
    grid-template-rows: 370px;
  }
}
#product .constant img {
  width: 100%;
  height: 100%;
}
#product .constant .content {
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  #product .constant .content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-top: 0px;
  }
}
#product .constant .content h2 {
  margin-bottom: 20px;
}
@media only screen and (min-width: 576px) {
  #product .constant .content h2 {
    display: flex;
    flex-flow: column wrap;
    font-size: 24px;
  }
}
@media only screen and (min-width: 992px) {
  #product .constant .content h2 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 1440px) {
  #product .constant .content h2 {
    font-size: 30px;
  }
}
#product .constant .content p {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  #product .constant .content p {
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1200px) {
  #product .constant .content p {
    display: flex;
    flex-flow: column wrap;
  }
}
#product .constant .content .btn {
  background-color: white;
  color: black;
}
#product .constant .content .btn a {
  color: black;
}

#work-together {
  margin-top: 70px;
}
#work-together .container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 20px;
}
@media only screen and (min-width: 576px) {
  #work-together .container {
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 30px;
    align-items: start;
  }
}
@media only screen and (min-width: 768px) {
  #work-together {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  #work-together {
    margin-top: 120px;
  }
}
@media only screen and (min-width: 1440px) {
  #work-together {
    margin-top: 140px;
  }
}
#work-together .img {
  width: 50px;
  height: 50px;
}
#work-together .img img {
  height: 100%;
  width: 100%;
}
#work-together .content h2 {
  text-align: center;
  font-weight: 400;
}
#work-together .content h2 .bold {
  font-weight: bold;
}
@media only screen and (min-width: 576px) {
  #work-together .content h2 {
    display: flex;
    flex-flow: column wrap;
    text-align: start;
  }
}
@media only screen and (min-width: 992px) {
  #work-together .content h2 {
    font-size: 28px;
  }
}
@media only screen and (min-width: 1440px) {
  #work-together .content h2 {
    font-size: 30px;
  }
}

#doing-things {
  margin-top: 70px;
}
@media only screen and (min-width: 768px) {
  #doing-things {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  #doing-things {
    margin-top: 120px;
  }
}
@media only screen and (min-width: 1440px) {
  #doing-things {
    margin-top: 140px;
  }
}
#doing-things .constant {
  width: 300px;
}
@media only screen and (min-width: 576px) {
  #doing-things .constant {
    width: 400px;
  }
}
@media only screen and (min-width: 768px) {
  #doing-things .constant {
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  #doing-things .constant {
    height: 360px;
  }
}
@media only screen and (min-width: 1440px) {
  #doing-things .constant {
    height: 400px;
  }
}
#doing-things .constant .img-wrap {
  height: 230px;
}
@media only screen and (min-width: 576px) {
  #doing-things .constant .img-wrap {
    height: 250px;
  }
}
@media only screen and (min-width: 768px) {
  #doing-things .constant .img-wrap {
    height: initial;
    width: 45%;
  }
}
#doing-things .constant .img-wrap img {
  width: 100%;
  height: 100%;
}
#doing-things .constant .content {
  margin-bottom: 40px;
  width: 300px;
}
@media only screen and (min-width: 768px) {
  #doing-things .constant .content {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) {
  #doing-things .constant .content {
    width: 47%;
  }
}
#doing-things .constant .content h2 {
  font-size: 22px;
  line-height: 22px;
}
@media only screen and (min-width: 992px) {
  #doing-things .constant .content h2 {
    display: flex;
    flex-flow: column wrap;
  }
}
#doing-things .constant .content p {
  margin-top: 20px;
  text-align: start;
}
@media only screen and (min-width: 1200px) {
  #doing-things .constant .content p {
    display: flex;
    flex-flow: column wrap;
  }
}
#doing-things .constant .content .btn {
  margin-top: 20px;
  background-color: white;
  color: black;
}
#doing-things .constant .content .btn a {
  color: black;
}

#process {
  margin-top: 70px;
}
@media only screen and (min-width: 768px) {
  #process {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  #process {
    margin-top: 120px;
  }
}
@media only screen and (min-width: 1440px) {
  #process {
    margin-top: 140px;
  }
}
#process .process-content {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 45px 340px;
  grid-template-areas: "count empty" "pera head";
}
@media only screen and (min-width: 576px) {
  #process .process-content {
    grid-template-columns: 35% 65%;
    grid-template-rows: 45px 400px;
  }
}
@media only screen and (min-width: 992px) {
  #process .process-content {
    grid-template-columns: 25% 75%;
    grid-template-rows: 55px 470px;
  }
}
@media only screen and (min-width: 1440px) {
  #process .process-content {
    grid-template-rows: 55px 570px;
  }
}
#process .process-content .count {
  background-color: orange;
  grid-area: count;
}
#process .process-content .empty {
  background-color: green;
  grid-area: empty;
}
#process .process-content .process-pera {
  background-color: red;
  grid-area: pera;
}
#process .process-content .process-head {
  background-color: yellow;
  grid-area: head;
}

#solution {
  margin-top: 70px;
}
@media only screen and (min-width: 768px) {
  #solution {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  #solution {
    margin-top: 120px;
  }
}
@media only screen and (min-width: 1440px) {
  #solution {
    margin-top: 140px;
  }
}
#solution .container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 45px 340px;
  grid-template-areas: "count empty" "pera head";
}
@media only screen and (min-width: 576px) {
  #solution .container {
    grid-template-columns: 35% 65%;
    grid-template-rows: 45px 330px;
  }
}
@media only screen and (min-width: 992px) {
  #solution .container {
    grid-template-columns: 25% 75%;
    grid-template-rows: 55px 400px;
  }
}
@media only screen and (min-width: 1440px) {
  #solution .container {
    grid-template-rows: 55px 500px;
  }
}
#solution .container .count {
  grid-area: count;
  background-color: orange;
}
#solution .container .empty {
  grid-area: empty;
  background-color: purple;
}
#solution .container .solution-pera {
  grid-area: pera;
  background-color: yellow;
}
#solution .container .solution-head {
  grid-area: head;
  background-color: pink;
}

/*# sourceMappingURL=style.css.map */
