#product{
    margin-top: 50px;

    @include media($sm) {
        margin-top: 0px;
    }
    
    .constant{

        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: auto auto;
        grid-template-areas: 'img'
                            'content';

        @include media($sm) {
            grid-template-columns: 480px;
            grid-template-rows: 270px auto;
        }
        @include media($md) {
            grid-template-columns: 45% 46%;
            grid-template-rows: 270px;
            justify-content: space-between;
        }
        @include media($lg) {
            grid-template-columns: 45% 48%;
            grid-template-rows: 300px;
        }
        @include media($xl) {
            grid-template-columns: 45% 48%;
            grid-template-rows: 370px;
        }

        img{
            width: 100%;
            height: 100%;
        }

        .content{
            margin-top: 30px;

            @include media($md) {
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                margin-top: 0px;
            }

            h2{
                margin-bottom: 20px;
                @include media($sm) {
                    display: flex;
                    flex-flow: column wrap;
                    font-size: 24px;
                }
                @include media($lg) {
                    font-size: 26px;
                }
                @include media($xxl) {
                    font-size: 30px;
                }
            }
            p{
                margin-bottom: 30px;

                @include media($md) {
                    margin-bottom: 0px;
                }
                @include media($xl) {
                    display: flex;
                    flex-flow: column wrap;
                }
            }
            .btn{
                background-color: white;
                color: black;

                a{
                    color: black;
                }
            }
        }
    }
}
